@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700;400;500;600;300;800;900&display=swap');
button:focus {
    outline: none !important;
}
body{
	font-family: 'Poppins', sans-serif !important;
	font-size: 16px;
	font-weight: normal;
	color: #000 !important;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}
body, html {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#root{
    height: 100%;
    min-height: 100%;
}
.wrapper {
    height: 100%;
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
}

.action-introWrapper .head {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action, .right-panel{
    flex: 1 1 !important;
    height: 100%;
}
.wrapper .right-panel{
    flex: 1 1 !important;
    height: 100%;
}
.logo {
    margin-left: 20px;
    margin-top:20px;
}
.action-introWrapper .head .authentication {
    margin-right: 25px;
    display: flex;
}
.languagePickerWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-introWrapper .head .authentication .authenticationButton{
    border: 1px solid #694aff;
    padding: 10px;
    border-radius: 5px;
    color: #694aff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-right: 25px;
}

.languagePickerWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-introWrapper {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.action-introWrapper {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    background:#FFFFFF;
}
.languagePickerWrapper .languagePicker .language {
    color: #98a1b3;
    margin-left: 10px;
    font-size: 13px;
}
.languagePickerWrapper .languagePicker img {
    width: 35px;
    vertical-align: middle;
    border-radius: 10px!important;
}
.action-introWrapper .body{
    display: flex;
    width: 85%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.action-introWrapper .body h1 {
    font-size: 3rem;
    line-height: 3.4rem;
    font-weight:600;
}
.action-introWrapper .body h1 span {
    color: #000;
}
.action-introWrapper .body ul li .numberWrapper {
    background:#fbebccff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    min-width: 40px;
}
.action-introWrapper .body ul li span {
    display: inline-block;
}
.action-introWrapper .body ul {
    margin-top: 20px;
    list-style-type: none;
    font-size: 16px;
    padding: 0px;
    color: #707981;
}
.action-introWrapper .body ul li {
    display: flex;
    margin-top: 20px;
}

.introWrapper {
    justify-content: center;
    align-self: center;
    margin-top: auto;
}
.introWrapper img {
    margin-bottom: 2rem;
    max-width: 450px;
}
.btn-default {
    background-color: #FFF;
    color: #5b5b5b;
    font-size: 16px;
    font-weight:600;
    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none!important;
}
.introFooter {
    margin-top: auto;
}
.introFooter{
    color:#000;
}
.board, .introWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board {
    background:#fbebccff;
    min-height: 100%;
    height: 100%;
    min-width: 50%;
    justify-content: flex-start;
    overflow: hidden scroll;
    color: rgb(255, 255, 255);
    top: 0px;
}


.sidenav {
  height: 80%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius:400px;

  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 130px;
}

.sidenav a {
  padding: 3px 8px 3px 250px;
  text-decoration: none;
  font-size:23px;
  color: #aca9a9;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000;
}

.sidenav .closebtn {
  position: absolute;
    font-size: 36px;
 
}

.wrapper .menuToggle {
    position: absolute;
    right:32px;
    top: 0px;
    background: #FFF;
    z-index: 10000;
    padding: 0px 10px;
}
.modal-content {
    padding:20px 100px;
}
.form-title h4{
    color: #5b5b5b;
    font-size: 34px;
    font-weight: 600;
}
.modal-content{
    border-radius: 9px !important;
}
.google-box {
    cursor: pointer;
    width: 350px;
    border: 1px solid #e8e6e6;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
}
.facebookAuthItem {
    cursor: pointer;
    width: 350px;
    background-color: #4267b2;
    color: #fff;
    border: 1px solid #e8e6e6;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
}
.facebookAuthItem span {
   
    font-size: 14px;
    font-weight: 600;
    color: #fff !important;
}
.facebookAuthItem img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
.google-box span {
   
    font-size: 14px;
    font-weight: 600;
}
.google-box img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
.border-bo {
    z-index: 1;
    position: relative;
}
.border-bo span {
    background: #fff;
    padding: 15px;
}
.border-bo:after {
    content: "";
    border-bottom: 1px solid #d6dae2;
    width: 100%;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 15px;
    z-index: -1;
}
.modal-body .form-control{
    font-family: "Poppins";
     background: rgba(251, 235, 204, 0.3) !important;
    border: none;
    border-radius: 3px;
    padding: 10px;
    height:47px;
    font-size: 15px;
}
.modal-body span{
    margin: 5px 0;
    color: #98a1b3;
    font-size: 13px;
}
.modal-body .inputSubmit {
    width: 100%;
    height: 55px;
    margin-top: 10px;
    background-color: #5b5b5b;
    color: #fff;
    font-family: "Poppins";
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #5b5b5b;
    border-radius: 50px;
}
.modal-body .inputSubmit:hover{
    color:#FFF;
}
.modal-footer{
    border-top: none !important;
    text-align: center;
    display: block !important;
}
.modalFooter span{
   line-height: 26px;
    font-size: 14px;
}
.modal-footer a {
    color: #5b5b5b !important;
    cursor: pointer;
}

.form-control:focus {
    color: #495057;
    border-bottom: 3px solid #5b5b5b !important;
     background: rgba(251, 235, 204, 0.3) !important;
    outline: 0;
    box-shadow: none !important;
}

.hiddenclass {
    display: none;
}

.cv img{
    max-width: 100%;
}
.templateSelection h3 {
    display: inline;
    color: #5b5b5b;
}
.templateSelection {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    text-align: center;
}
.templateSelection .templatesList {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    width: 100%;
}
.templateSelection .templatesList .template {
    height: 259px;
    width: 200px;
    overflow: hidden;
    border-radius: 13px;
    margin: 30px auto auto;
}
.resume{
    margin: 12px 0px;
    padding: 20px;
    width: 97%;
    background: url(../img/bg.png) #fff no-repeat;
    background-position: bottom;

}
.top-header{
    background: #fff;
    
}
.media-text h3 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}
.top-header h4{
     font-size: 14px;
    font-weight:400;
    color: #000;
    margin-bottom: 5px;
    text-align: right;
}
.media-logo {
    display: inline-block;
}
.top-header .media-main .media-text {
    margin-left: 10px;
    display: inline-block;
}
.top-header p{
    font-size: 14px;
    color: #000;
}
.from-section{
    padding: 60px;
   height: 100%;
    display: block;
    overflow-x: hidden;

    

}
.table-section {
    overflow-y: scroll;
    margin-top: 10px;
   
}
.main{
       width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.heading h3{
    font-size: 32px;
}
.heading p{
    font-size: .8rem;
}
.heading span{
    color:#2ecc71; 
}
.from-box h4{
    font-weight: 600;
    font-size: 22px;
    
}
.from-box .form-control {
    background: #f8fafe;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    height: 55px;
    background: rgba(251, 235, 204, 0.3) !important;

}
.assignment-detail .form-control {
    background: #f8fafe;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    height: 55px;
    background: rgba(251, 235, 204, 0.3) !important;
}

.assignment-detail .form-control:focus {
    color: #495057;
    border-color: #694aff !important;
    border-bottom: 3px solid #694aff;
    background: rgba(251, 235, 204, 0.3) !important;
    outline: 0;
    box-shadow: none !important;
}
.assignment-detail .form-control:focus {
    color: #495057;
    border-bottom: 3px solid #5b5b5b !important;
    background: rgba(251, 235, 204, 0.3) !important;
    outline: 0;
    box-shadow: none !important;
}
.from-box span {
    margin: 5px 0;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.from-box .form-control input[type='text']{
	height: 47px;
}

.upload{
    text-align: center;
    background: #fff;
    box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 5%);
}
.upload p {
    font-size: 12px;
    margin: 8px 0 4px;
}
input#myfile{
    padding: 15px 35px;
    background: #fbebccff !important;
    border-radius: 30px;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    margin: 10px 0;
    transition: all .2s ease-in;
    cursor: pointer;
    outline: none;
    border: none;
    max-width: 200px;
    display: inline-block;
}
.add img{
    border-radius: 10px;
    max-width: 100%;
    height: 90px;
}
.add-box span {
    color: #0042c6;
    cursor: pointer;
    vertical-align: middle;
}
.add-box{

    text-align: center;
    margin:20px 0;
}
.professional h4 {
    font-weight: 600;
    font-size: 22px;
    margin: 0;
}
.professional p{
       color: #98a1b3;
    font-size: 13px;
    margin: 5px 0 0;

}
.professional{
    margin-bottom: 20px;
}
.from-box textarea{
    width: 100%;
    background: #f8fafe;
    border: none;
    border-radius: 3px;
    padding: 10px;
    height: 120px !important;
    font-size: 15px;
}
.from-box textarea:focus {
    color: #495057;
    border-color: #5b5b5b !important;
    border-bottom: 3px solid #5b5b5b;
    background: rgba(251, 235, 204, 0.3) !important;
    outline: 0;
    box-shadow: none !important;
}

.table thead th {
    vertical-align: middle !important;
    text-align: center;
    border-bottom: 2px solid #dee2e6;
        background: #d9d9d9;
        font-size: 13px;

}
.table-bordered td{
  text-align: center;
}
.table-bordered td p{
    text-align: center;
  font-size: 12px;
}
.bg-gry{
    background: #efefef;
    text-align: center;
    font-size: 12px;
}
.table td, .table th {
    vertical-align: middle !important;
}

.bg-red{
    background: #fce13375 !important;
}
.bg-gry p{
    margin-top: 20px;
 
}
.table-section ul{
    padding: 0px;
    list-style: none;
    margin: 0px;

}
.table-section ul li {
    display: inline;
    border: 1px dashed #000;
    padding: 1px 5px;
    
}



/*2-17-2020*/
.navigation{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
   
}
.navigation .head-box {
    float: right;
    text-align: right;
    margin-top: 20px;
}
.loin .authentication {
    display: flex;
    margin-right: 25px;
}
.navigation .brand {
    display: inline-block;
}
.loin{
    text-align: right;
    width: 100%;
}
.navigation .authenticationButton {
    border: 1px solid #5b5b5b;
    padding: 10px;
    border-radius: 5px;
    color: #5b5b5b;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.navigation .languagePickerWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg-text{
  position:relative;
  margin:0.1em;
  z-index: 999;
}
.bg-text .ribbon-highlight::before {
	content: "";
	z-index: -1;
	left: -0.2em;
	top: 0px;
	border-width: 0.6em;
	border-style: solid;
	border-color: #fbebccff;
	position: absolute;
	width: 100%;
}
.bg-text .ribbon-highlight-1::before {
	content: "";
	z-index: -1;
	right: 0.1em;
	bottom: 3px;
	border-width: 0.5em;
	border-style: solid;
	border-color: #fbebccff;
	position: absolute;
	width: 100%;
}
.assignment-detail{
    margin-bottom: 10px;
    margin-top: 20px;
}
.remember-me{
    margin-bottom: 20px;
}
.darkHeader{
    background:#ccc;
}
.templateSelection p a{
    color:#000;
}
.resume table thead th p{
    font-size: 10px;
    font-weight: normal;
}
/*2-22-2021*/
.label-t{
    font-size: 12px;
    font-weight: normal;
}
.table-section ul{
    padding: 0px;
    list-style: none;
    border-top: 1px dashed #000;
     border-bottom: 1px dashed #000;
    margin: 0px;
    display: flex;

}
.table-bordered td p{
    text-align: center;
  font-size: 12px;
  margin-bottom: 0px;
}
.table-section ul li {
    display: inline;
    padding: 1px 5px;
     border-right: 1px dashed #000;

    flex: 1;
    
}
.table-section ul li:first-child {
  border-left: 1px dashed #000;
}
.school-table td{
  padding: 0px !important;
}
.pd5{
    padding: 5px;
    min-height: 246px;
    margin-bottom: 0px;
}

.comment{
    font-size: 15px;
    padding: 30px 0px;
}
.school-table td {
    padding: 0px !important; 
}
/*end-2-22-2021*/
/*2-23-2021*/
.logo {
    margin-left: 20px;
    margin-top:0px;
}
.navigation .head-box {
    float: right;
    text-align: right;
    margin-top:0px;
}
.header {
  background: #fff;
  z-index: 999;
  padding: 10px 0px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.media-text h3{
	background: #fbebcc !important;
	padding-right: 5px;
}
/*end-2-23-2021*/
